<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="AutoTestPrep.Model.InputInfos" #>
<#+
	//Property for driver template.

	/// <summary>
	/// Target function information to be test.
	/// </summary>
	protected Test Test;

	/// <summary>
	/// Target function information to be test.
	/// </summary>
	protected Function TargetFunction
	{
		get
		{
			return this.Test.Target;
		}
	}

	/// <summary>
	/// Collection of function target function will call.
	/// </summary>
	protected IEnumerable<Function> SubFunctions
	{
		get
		{
			return this.Test.Target.SubFunctions;
		}
	}

	/// <summary>
	/// Test data information.
	/// </summary>
	protected TestDataInfo TestDataInfo;
#>
<#+
	//Common method to create name of class, or variables.

	/// <summary>
	/// Create test class name.
	/// </summary>
	///	<return>Test class name</return>
	protected virtual string CreateTestClassName()
	{
		string testClassName = string.Empty;
		testClassName = $"{TargetFunction.Name}_test";
		return testClassName;
	}

	/// <summary>
	///	Create method name to set up test.
	///	</summary>
	///	<return>Set up test method name.</return>
	protected virtual string CreateSetupMethodName()
	{
		string setupMethod = "SetUp";
		return setupMethod;
	}

	/// <summary>
	///	Create method name to tear down, finalize test method.
	///	</summary>
	/// <return>Finalize test method name.</return>
	protected virtual string CreateTearDownMethodName()
	{
		string tearDownMethod = "TearDown";
		return tearDownMethod;
	}

	/// <summary>
	///	Create method name called before the tests start.
	///	</summary>
	protected virtual string CreateTestSetUpMethodName()
	{
		string testSetUpMethod = "SetUpTestCase";
		return testSetUpMethod;
	}

	/// <summary>
	///	Create method name called after all test case are run.
	/// </summary>
	///	<return>Method name to finalize test called after all test cases have been done.
	protected virtual string CreateTestTearDownMethodName()
	{
		string testTearDownMethod = "TearDownTestCase";
		return testTearDownMethod;
	}
#>
