<#@ template language="C#"
	inherits="TestStubTemplate_Base" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
#pragma once
//Sub function called count.
<#= CreateFunctionCalledCountBufferDecalre() #>
<#= CreateFunctionReturnBufferDeclare() #>

//Argument buffer.
<# foreach (var argumentItem in SubFunction.Arguments) { #>
<#= CreateFunctionArgumentBufferDeclare(SubFunction, argumentItem) #>
<#	}	#>
//Return value buffer
<# foreach (var argumentItem in SubFunction.Arguments) { #>
<#= CreateFunctionOutputBufferDeclare(SubFunction, argumentItem) #>
<#	}	#>

//Function to initialize buffers.
<#= CreateBufferInitializeFunction() #>
<#+
	/// <summary>
	/// Create code declaring variable to set the count the function called.
	/// </summary>
	/// <param name="function">Function information</param>
	/// <returns>Code to declare variable to set the count function called.</returns>
	protected override string CreateFunctionCalledCountBufferDecalre()
	{
		string calledCountBufferName = base.CreateFunctionCalledCountBufferDecalre();
		calledCountBufferName = "extern " + calledCountBufferName;
		calledCountBufferName += ";";
		return calledCountBufferName;
	}

	protected override string CreateFunctionReturnBufferDeclare()
	{
		string returnBufferName = base.CreateFunctionReturnBufferDeclare();
		if (!(string.IsNullOrEmpty(returnBufferName))) {
			returnBufferName = "extern " + returnBufferName;
			returnBufferName += "[];";
		}
		return returnBufferName;
	}

	/// <summary>
	/// Create code of function entry point to initialize 
	/// </summary>
	/// <returns>Code to declare function entry point to initialize buffer parameter.</returns>
	protected override string CreateBufferInitializeFunction()
	{
		string bufferInitializeFunction = base.CreateBufferInitializeFunction();
		bufferInitializeFunction += ";";

		return bufferInitializeFunction;
	}
#>

