<#@ template language="C#"
	inherits="GoogleTestTemplate" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#
	foreach (var headerFile in Config.StandardHeaderFiles) {
		if ((!string.IsNullOrEmpty(headerFile)) && (!string.IsNullOrWhiteSpace(headerFile))) {
#>
#include <<#= headerFile #>>
<#
		}
	}
#>
#include "gtest/gtest.h"
<#
	foreach (var headerFile in Config.UserHeaderFiles) { 
		if ((!string.IsNullOrEmpty(headerFile)) && (!string.IsNullOrWhiteSpace(headerFile))) {
#>
#include "<#= headerFile #>"
<#
		}
	}
#>
<#
	if ((!string.IsNullOrEmpty(DriverHeaderFileName)) && (!string.IsNullOrWhiteSpace(DriverHeaderFileName))) {
#>
#include "<#= DriverHeaderFileName #>"
<#
	}
#>
<#
	if ((!string.IsNullOrEmpty(StubHeaderFileName)) && (!string.IsNullOrWhiteSpace(StubHeaderFileName))) {
#>
#include "<#= StubHeaderFileName #>"
<#
	}
#>
<#= CreateDecalreGlobalVariable(this.TargetFunction) #>

//Test target function declare
<#= TargetFunction.ToString() #>;

<#= CreateSetUpCode(this.TargetFunction) #>
<#= CreateTestCaseCode(this.TargetFunction, this.Test) #>
