<#@ template language="C#"
	inherits="GoogleTestTemplate" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
void <#= TestClassName(this.TargetFunction) #>::SetUp()
{
<# 
	if (null != this.TargetFunction.SubFunctions) {
		foreach (var subFunction in this.TargetFunction.SubFunctions) {	
#>
	<#= this.CreateStubInitializeMethodName(subFunction)	#>();
<#
		}
	}
#>
}
